<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Paris sportifs{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app')}}
    {% endblock %}
    <style>
        body {
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{  path('index') }}">Paris sportifs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% block navTeams %}
                <li class="nav-item"><a class="nav-link" href="{{ path('teams') }}">Equipes</a></li>
            {% endblock %}
            {% block navMatchs %}
                <li class="nav-item"><a class="nav-link" href="{{ path('matchs') }}">Résultats</a></li>
            {% endblock %}
            {% block navLivres %}
                <li class="nav-item"><a class="nav-link" href="{{ path('paris') }}">Parier</a></li>
            {% endblock %}
            {% block navAuteurs %}
                <li class="nav-item"><a class="nav-link" href="{{ path('mesparis') }}">Mes paris</a></li>
            {% endblock %}
            {% block navExemplaires %}
                <li class="nav-item"><a class="nav-link" href="#">Exemplaires</a></li>
            {% endblock %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bonjour, {{ app.user.firstName }} {{ app.user.name }}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Informations</a>
                    <a class="dropdown-item" href="">Paramètres</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
                </div>
            </div>

            {% else %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="{{ path('login') }}" class="btn btn-success my-2 my-sm-0" role="button" aria-disabled="true">Se connecter</a>
                    <a href="{{ path('register') }}" class="btn btn-danger my-2 my-sm-0" role="button" aria-disabled="true">S'inscrire</a>
                </form>

            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">

{% block body %}{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></html>
